.icon-card {
  font-size: 42px;
}
.icon {
  position: relative;
}
.card-quantity {
  position: absolute;
  top: 0px;
  right: 1px;
}
.img-top10 {
  width: 100px;
}
.fa-fw {
  font-size: 15px !important;
}
.icon-contact {
  font-size: 20px !important;
}
.title-healding {
  background-color: #f9f9f9 !important;
}
.title-healding-content {
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid #007bff;
}
.navbar {
  padding: 0;
}
.nav-item {
  padding: 8px 0;
}
.li-home-page {
  background-color: #054d88;
}
.search-form {
  width: 100% !important;
}
.topbar{
  background-color: #dadada !important;
}
.card-title{
  font-size: 20px !important;
}
.price{
  font-size: 18px;
}
.price-del{
  font-size: 18px;
}
.media-body h5{
  font-size: 15px !important;
}
.user-form{
  margin: 0 auto;
  max-width: 500px !important;
}

.action {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 50px;
  transition: all 0.3s;
  margin-bottom: 155px;
}
.action a {
  /* float: left; */
  width: 50%;
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  background: rgba(0, 123, 255, 0.6);
  color: #fff;
}
.action a .fa {
  margin-right: 3px;
}
.action a:hover {
  background: #007bff;
}
.action a.like {
  background: rgba(255, 193, 7, 0.6);
}
.action a.like:hover {
  background: #ffc107;
}
 .card:hover .action {
   display: flex;
  transition: all 0.3s;
  bottom: 5px;
}
.card:hover {
  transition: 0.5s ease-in-out;
  transform: translate3d(0px,-3px,3px);
  box-shadow:0px 10px 20px #cccc;    

}